COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=
COGNITO_WEB_CLIENT_ID=
COGNITO_MOBILE_CLIENT_ID=
COGNITO_ADMIN_GROUP=admins
COGNITO_USER_GROUP=users
ADMIN_ACCESS_CONTACT_EMAIL=
ADMIN_ACCESS_CONTACT_PHONE=
TRAPIT_COOKIE_DOMAIN=
TRAPIT_DATA_DIR=
TRAPIT_DATA_FILE=
TRAPIT_POLL_STORE_MODE=file
TRAPIT_NOTIFICATION_WORKER_SECRET=
WEB_PUSH_PRIVATE_KEY=
WEB_PUSH_SUBJECT=mailto:admin@trapit.in
TRAPIT_DYNAMODB_REGION=us-east-1
TRAPIT_POLL_QUESTIONS_TABLE=
TRAPIT_SCHEDULED_POLLS_TABLE=
TRAPIT_POLL_ATTEMPTS_TABLE=
TRAPIT_SIGNIN_ACTIVITY_TABLE=
NEXT_PUBLIC_COGNITO_REGION=us-east-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_WEB_CLIENT_ID=
NEXT_PUBLIC_WEB_PUSH_PUBLIC_KEY=
EXPO_PUBLIC_API_BASE_URL=http://localhost:3000
EXPO_PUBLIC_COGNITO_REGION=us-east-1
EXPO_PUBLIC_COGNITO_USER_POOL_ID=
EXPO_PUBLIC_COGNITO_MOBILE_CLIENT_ID=
EXPO_PUBLIC_COGNITO_ADMIN_GROUP=admins
EXPO_PUBLIC_COGNITO_USER_GROUP=users
